@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "primeicons/primeicons.css"; */

:root {
  --background: #fffefb;
  --foreground: #1c1b1d;
  --card: #f8f7f1;
  --font-manrope: "Manrope", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), Inter, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  @apply leading-normal;
}

.body2 {
  font-size: 0.875rem;
  line-height: 1.2;
}

.body3 {
  font-size: 0.75rem;
  line-height: 1.2;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

/* input,
textarea {
  font-size: 1rem;
  height: 56px;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: transparent;
  @apply bg-gray-100 text-gray-600;

  &:focus {
    outline: none;
    @apply bg-gray-300 text-black;
  }
} */

#header {
  background-image: url("../../public/navbar_bg.jpg") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#flash_sale {
  border-radius: 10px;
  background: var(--Linear, linear-gradient(180deg, #FC7D22 28.14%, #FDA131 64.07%, #FDC53F 100%));
}

#home_hero_christmas {
  background: url("/home_hero/first-christmas.jpg") no-repeat center center;
  background-size: cover;
}

#home_hero_lunar {
  background: url("/home_hero/first-lunarnewyear.jpg") no-repeat center center;
  background-size: cover;
}

#home_hero_valentines {
  background: url("/home_hero/first-valentines.jpg") no-repeat center center;
  background-size: cover;
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  overflow-y: visible;
  overflow-y: hidden;
  height: 160px;
}

.swiper-slide {
  flex-shrink: 0;
  width: auto;
  max-width: 100%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepageSwiper {
  height: 35rem !important;
  border-radius: 10px;
}

.swiper-page .swiper {
  width: 75%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-page .swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-page .mySwiper2 {
  height: 80%;
  width: 100%;
}

.swiper-page .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-page .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-page .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-page .swiper-button-next,
.swiper-page .swiper-button-prev {
  width: 40px; /* Circle diameter */
  height: 40px;
  border-radius: 50%; /* Makes it a circle */
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: #fff; /* Icon color */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.swiper-page .swiper-button-next::after,
.swiper-page .swiper-button-prev::after {
  font-size: 18px; /* Adjust the size of the arrow icon */
}
